* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    width: 100%;
    min-height: 100%;
    padding: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #EEE;
    background-color: #191919;
}

.date-container {
    position: absolute;
    bottom: 64px;
    left: 64px;
}

.date {
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    line-height: 1;
    padding-left: 6px;
}

.clock {
    font-family: 'Montserrat', sans-serif;
    font-size: 128px;
    line-height: 1;
}

.container {
    display: flex;
    justify-content: center;
}

.column {
    width: 250px;
}

.column + .column {
    margin-left: 32px;
}

.section {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #222;
    background-color: #191919;
}

.section + .section {
    margin-top: 32px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.title + .list {
    margin-top: 16px;
}

a {
    display: block;
    text-decoration: none;
    color: #AAA;
    transition: color .1s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover {
    cursor: pointer;
    color: #DDD;
}

a + a {
    margin-top: 8px;
}
